<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img alt="Demonic Logo" class='img-fluid' src="https://i.imgur.com/MUYvomb.jpg">
</div>
<div *ngIf="gameBegin == 'false';" class='jumbotron' style='background-color: rgb(255, 242, 242)'>
  <div class='display-4'>Please Read:</div>
  <div class='col-lg-8' style='text-align: center;'>
    <p class='lead' style='font-size: 22px;'>
      Welcome to our first Demonic Scavenger Hunt with our new web-app! We hope all goes well and no technical 
      problems occur but if they do, contact <br/> (619) 219-1230. 
    </p>
  </div>
  <hr class='my-2'>
  <div class='row'>
    <div class='col-md-2'></div>
    <div class='col-md-8 text-center'><p> 
    FOLLOW ALL TRAFFIC LAWS AND PRACTICE SAFE DRIVING SKILLS, WE ARE NOT 
    LIABLE FOR ANY DAMAGES OR INJURING DURING PARTICIPATION THIS EVENT
  </p></div>
    <div class='col-md-2'></div>
  </div>
  
  <hr class='my-2'>
  
  <div class="col-md-8 text-center"> 
      <button type='button' (click)="beginGame()" class='btn btn-danger' style="width: 80%; height: 58px; font-size: 24px;">
        Join The Hunt</button>
  </div>
</div>


<div *ngIf="gameBegin == 'true';">
    <app-ng-riddles>Loading Questions....</app-ng-riddles>
</div>

<router-outlet></router-outlet>
